<ion-header>
  <ion-toolbar>
    <!-- <ion-button fill="clear" slot="start" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button> -->
    <ion-title>Location</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="mapId" style="height:600px"></div>
    <ion-item style="cursor: pointer" (click)="locatePosition()">
        <ion-button fill="clear">
            <ion-icon slot="start" name="map"></ion-icon>
            Locate Position
        </ion-button>
    </ion-item>
<!-- <ion-button shape="round" expand="block" (click)="confirmPickupLocation()">Confirm Pickup Location</ion-button> -->
</ion-content>