<ion-header>
  <ion-toolbar>
    <ion-title>
      Auth
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inscrivez-vous</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <ion-item class="form-group">
      <ion-label for="email">Adresse mail</ion-label>
      <ion-input type="text"
             id="email"
             class="form-control"
             formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label for="password">Mot de passe</ion-label>
      <ion-input type="password"
             id="password"
             class="form-control"
             formControlName="password"></ion-input>
    </ion-item>
    <ion-button class="btn btn-primary"
            type="submit"
            [disabled]="signupForm.invalid">Créer mon compte</ion-button>
  </form>
</ion-content>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connectez-vous</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="signinForm" (ngSubmit)="onSubmitLog()">
    <ion-item class="form-group">
      <ion-label for="email">Adresse mail</ion-label>
      <ion-input type="text"
             id="email"
             class="form-control"
             formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label for="password">Mot de passe</ion-label>
      <ion-input type="password"
             id="password"
             class="form-control"
             formControlName="password"></ion-input>
    </ion-item>
    <ion-button class="btn btn-primary"
            type="submit"
            [disabled]="signinForm.invalid">Se connecter</ion-button>
  </form>
</ion-content>